@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.main{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header__content{
    display: flex;
    justify-content: space-around;
}

.header__content__contact{
    display: flex;
    align-items: center;
}

.header__content__logo__img:hover{
    box-shadow: -22px 30px 20px -20px #ccc;
}

.header__nav{
    display: flex;
    background-color: #444444;
}

.header__nav__menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    color: #fff;
}

.header__nav__menu__item{
    padding: 1rem 0;
    text-transform: uppercase;
}

.header__nav__menu__item:hover{
    background-color: #e8bf2e;
}

.footer{
    background-color: #444444;;
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding: 1rem;
}

.footer__list{
    padding-top: 0.5rem;
    list-style: none;
}

.footer__list__elem{
    width: 25rem;
    border-bottom: 1px solid #ccc;
}

.footer__content__title{
    border-bottom: 2px solid #e8bf2e;
}

.footer__content__title__text{
    padding: 0.5rem 0.5rem 2px 0.5rem;
    background-color: #e8bf2e;
}

.main__register__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border: #ccc solid 1px;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.main__register__form__input{
    padding: 1rem;
    background-color: #e9ecef;
    border: 2px solid #f4f3ee;
    border-radius: 5px;
}

.main__form__button__container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 


.main__form__button{
    background-color: #e8bf2e;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    border: #e8bf2e solid 1px;
    font-size: 1.1rem;
}

.main__form__captcha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: #ccc solid 2px;
    background-color: #e9ecef;
    padding: 1rem 0;
    width: 30%;
    border-radius: 5px;
}

.main__form__captcha__img{
    width: 50px;
}

@media(max-width: 768px){
    .footer{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 1rem;
        font-size: 1rem;
    }

    .footer__list__elem{
        width: 100%;
    }

    .footer__content{
        width: 100%;
    }

    .header__nav__menu{
        width: 100%;
        flex-direction: column;
    }

    .header__nav__menu__item{
        width: 100%;
        text-align: center;
    }
 
    .header__content{
         flex-direction: column;
         gap: 1rem;
         justify-content: center;
         align-items: center;
    }

    .main{
        width: 100%;
        padding: 1rem;
    }

    .main__register__form{
        width: 100%;
    }

   .main__step__container__txtblock{
        flex-direction: column;
        gap: 1rem;
   }

   .main__step__form__inputs__grp{
        flex-direction: column;
        gap: 1rem;
   }

   .main__step__form__label{
       width: 100%;
   }

   .main__form__captcha{
        width: 100%;
   }

   .main__form__button__container{
       justify-content: center;
   }
}

