*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    padding-top: 0.5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img:hover{
    box-shadow: -22px 30px 20px -20px #ccc;
}

.contact-number{
    padding-bottom: 8rem;
}